.App {
  text-align: center;
}

.MainDiv{
  display:flex;
  justify-content: space-around;
  flex-direction: row;

}

.Header{
  width:100%;
  background-color: rgb(245, 245, 245);
  height:70px;
  display: flex;
  justify-content:center;
  align-items:center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}

.container1{
  width:250px;
  height: 60vh;
  margin-top: 100px;
  display:flex;
  flex-direction:column;
  padding: 40px;
  justify-content:space-around;
  align-items:center;
  background-color: rgb(245, 245, 245);
  border-radius: 5%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.container2{
  margin-top: 100px;
  height: 60vh;
  width:250px;
  padding: 40px;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  background-color: rgb(245, 245, 245);
  border-radius: 5%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.container3{
  margin-top: 100px;
  height: 60vh;
  width:250px;
  padding: 40px;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  background-color: rgb(245, 245, 245);
  border-radius: 5%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.Progress{
  width: 80%;
  margin-top: 150px;
  margin-bottom: 50px;
}

.Progress1{
  margin-bottom: 50px;
  margin-top: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
